<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" href="/static/polls/style.css"}>
</head>
<body>
    <header>
        <h1>{% block header %}Welcome to the Polls APP{% endblock %}</h1>
    </header>
    <nav>
        {% block navigation %}{% endblock %}
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        {% block footer %}Copyright © 2023{% endblock %}
    </footer>
</body>
</html>
