{% extends 'travelblog/base.html' %}

{% block title %}Create a Post - {{ block.super }}{% endblock %}

{% block content %}
<div class="container">
    <h2>Add a New Post</h2>
    <form class="post-detail" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div><a href="{% url 'add_city' %}" class="btn btn-outline-secondary btn-sm" role="button">+ Add City</a></div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
